fastapi
uvicorn[standard]
python-multipart
langchain==0.1.0
langchain-community==0.0.10
chromadb
pypdf2
pypdf
python-dotenv
pydantic>=2.0.0
sentence-transformers
faiss-cpu
numpy
pandas
transformers
torch --index-url https://download.pytorch.org/whl/cpu
accelerate
huggingface-hub
gunicorn